{% extends 'layoutPublic.html.twig' %}
{% block body %}
<div class="">

</div>
<div class="jumbotron confirmation">
  <h1>  Ihre Reservierung war Erfolgreich!!!</h1><br>
    <h2>hiermit finden sie Ihre Pin Nummer: <span>{{random}}</span> </h2>
</div>
{% endblock %}
