{% extends 'layoutPublic.html.twig' %}
{% block body %}
    Tout les gebaeude:
{% for item in gebaeude %}
<a href="{{ path('h_zraum_reservierung_gebaeudeRaum', {'gebaeude': item.id}) }}">
GebaeudeName: {{item.name}}  GebaeudeNummer: {{item.nummer}}</a>
{% endfor %}

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
{% endblock %}
