<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Raum Infos</title>
  </head>
  <body>
    Infos sur une seule salle!!!!:
    Nom: {{infos.name}}

    <a href="{{ path('h_zraum_reservierung_reservierung') }}">
<button type="button" name="button">Buchen</button>
  </body>
</html>
