<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reservierung</title>
  </head>
  <body>
    Ici se trouve le formulaire de reservation et tt les infos dessus!!!!

  </body>
</html>
